{% extends 'wwwhero/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h3 class="mb-4">Home</h3>
    {% if user.is_authenticated %}
        <p>Good day, {{ user.username.capitalize }}!</p>
        {% if context.characters %}
            {% if context.selected_char.character %}
                <p class="w-25 mx-auto">
                    <a class="list-group-item list-group-item-action" href="{% url 'character_select' character_id=context.selected_char.character.id %}">
                        Continue &rarr; {{ context.selected_char.character.name }}
                    </a>
                </p>
            {% endif %}
            <p>
                <button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCharacters" aria-expanded="false" aria-controls="collapseCharacters">
                Characters &darr;
                </button>
            </p>
            <p>
                <div class="collapse" id="collapseCharacters">
                        <ul class="list-group list-group-flush w-25 mx-auto">
                            {% for char in context.characters %}
                                <li class="list-group">
                                    <a class="list-group-item list-group-item-action {% if char.id == context.selected_char.character.id %}list-group-item-dark{% endif %}" href="{% url 'character_select' character_id=char.id %}">
                                        {{ forloop.counter }}. {{ char.name }}, level {{ char.level }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                </div>
            </p>
        {% endif %}
        <p><a class="btn btn-outline-success" href="{% url 'character_create' %}">Create New Character</a></p>
    {% else %}
        <a class="btn btn-outline-success" href="{% url 'login' %}">Log in</a>
        <a class="btn btn-outline-success" href="{% url 'signup' %}">Sign up</a>
    {% endif %}
{% endblock %}
